######################################################################
# IDE (monorepo root)
.idea
*.iws
*.iml
*.ipr
.vscode

######################################################################
# OS
.DS_Store
Thumbs.db

######################################################################
# Environment
.env
.env.*

######################################################################
# Others
*.log
*.log.gz
*.swp
